<div class="container">
  <header class="header">
    <a mat-button>Posts</a>
    <div class="header__auth">
      <ng-container *ngIf="!isLogin(); else logout">
        <button mat-raised-button color="primary" class="header__auth-btn" (click)="onLogin()">
          Login
        </button>
      </ng-container>

      <ng-template #logout
        ><button mat-raised-button color="warn" class="header__auth-btn" (click)="onLogout()">
          Logout
        </button></ng-template
      >
    </div>
  </header>
</div>
